.sidebar-container {
    height: 100vh;
    padding: 20px;
    background-color: white;
}

.sidebar-text {
    font-size:18px;
    color:black;
    text-align: left;
}

.sidebar-text-active a, .sidebar-text-active a {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid rgb(58, 127, 255);
}

.sidebar-text a:hover, .sidebar-text a:focus {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid rgb(58, 127, 255);
}
